
#appBox{

  border:2px solid black;
  padding:25px;
  text-align: center;

}

#counterBox {
   
    border:2px solid black;
    padding:20px;

}

#counterBox button 
{
    margin:15px;
    padding:10px 20px 10px 20px;
    border:0px;
    border-radius:10px;
    font-size: medium;
}


